:root {
  --border-radius: .5rem;
  --primary-color: #05976c;
  --white-color: #aaa;
  --black-color: #151515;
  --hight-color: #00f0ea;
  --light-color: #d43;
  --black-hover: rgba(16, 16, 16, .5);
  --gradient:
      linear-gradient(150deg, rgba(0,0,0,.9), rgba(0,0,0,0) 70.71%),
      linear-gradient(330deg, rgba(5,151,108,.8), rgba(5,151,108,0) 70.71%),
      linear-gradient(200deg, rgba(255,255,255,.8), rgba(255,255,255,0) 70.71%);
  --shadow-short: 0rem .3rem .8rem #000;
  --font-size-extraBig: 5rem;
  --font-size-big: 3rem;
  --font-size-large: 1.2rem;
  --font-size-medium: 1rem;
  --font-size-small: .8rem;
}
@media (max-width: 750px) {
  :root {
    --font-size-extraBig: 3.5rem;
    --font-size-big: 3rem;
    --font-size-large: 1rem;
    --font-size-medium: .8rem;
    --font-size-small: .7rem;
  }
}
@media (max-width: 550px) {
  :root {
    --font-size-extraBig: 2.5rem;
    --font-size-big: 2rem;
  }
}
@media (max-width: 370px) {
  :root {
    --font-size-extraBig: 2rem;
    --font-size-big: 2rem;
    --font-size-large: 1rem;
    --font-size-medium: .7rem;
    --font-size-small: .6rem;
  }
}
@media (max-width: 300px) {
  :root {
    --font-size-extraBig: 1.4rem;
    --font-size-big: 1.4rem;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.5rem;
}
::-webkit-scrollbar:hover {
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:active {
  background: var(--hight-color);
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
  transition: 0.5s;
}
::-webkit-scrollbar-track:hover {
  cursor: pointer;
}

::-webkit-scrollbar-corner {
  background: var(--primary-color);
  border-radius: 50%;
}

.main {
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.headerMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  margin: auto;
  padding: 1rem;
  position: fixed;
  left: 3%;
  right: 3%;
  top: 0;
  cursor: pointer;
  z-index: 5;
}
.headerMain .logoTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerMain .logoTitle .logo {
  width: 3rem;
  height: 3rem;
  filter: hue-rotate(150deg);
}
.headerMain .logoTitle h1 {
  color: var(--primary-color);
  font-size: var(--font-size-big);
}
.headerMain .menu {
  color: var(--primary-color);
  font-size: 3rem;
}

.wrapperMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding: 2rem 1rem 1rem 1rem;
  transition: 1s;
  max-width: 400px;
  min-width: 280px;
  max-height: 80%;
  z-index: 500;
  justify-content: flex-start;
  overflow-x: auto;
}
@media (max-width: 850px) {
  .wrapperMenu {
    width: 100%;
    max-width: 400px;
  }
}
.wrapperMenu ul {
  width: 100%;
  padding: 0 0 2rem 0;
}
.wrapperMenu ul li {
  color: var(--primary-color);
  list-style: none;
  font-size: var(--font-size-large);
  padding: 1rem 0;
  border-bottom: 1px solid #222;
  border-bottom: 1px solid var(--primary-color);
  width: 100%;
  text-align: center;
  transition: 0.5s;
}
.wrapperMenu ul li:hover {
  background: rgba(34, 34, 34, 0.5);
  border-bottom: 1px solid var(--white-color);
  color: var(--white-color);
}
.wrapperMenu ul li [data-descr] {
  position: relative;
  transition: 0.5s;
}
.wrapperMenu ul li [data-descr]:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: 100%;
  top: 0;
  min-width: 120px;
  border-radius: var(--border-radius);
  background-color: var(--black-color);
  padding: 0.3rem;
  color: var(--white-color);
  font-size: var(--font-size-small);
  z-index: 1000;
  box-shadow: 1px 1px 1px #101010;
}
.wrapperMenu p {
  color: var(--primary-color);
  text-align: center;
  padding: 0.5rem 0;
  width: 100%;
  font-size: var(--font-size-medium);
  margin-bottom: 0.8rem;
}

.modalLogin, .modalRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding: 2rem 1rem 1rem 1rem;
  transition: 1s;
  max-width: 400px;
  min-width: 280px;
  max-height: 80%;
  z-index: 500;
  justify-content: flex-start;
  overflow-x: auto;
}
@media (max-width: 850px) {
  .modalLogin, .modalRegister {
    width: 100%;
    max-width: 400px;
  }
}
.modalLogin form, .modalRegister form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modalLogin form h3, .modalLogin form p, .modalRegister form h3, .modalRegister form p {
  color: var(--primary-color);
  text-align: center;
  padding: 0.5rem 0;
  width: 100%;
}
.modalLogin form h3, .modalRegister form h3 {
  font-size: var(--font-size-large);
}
.modalLogin form p, .modalRegister form p {
  font-size: var(--font-size-medium);
  margin-bottom: 0.8rem;
}
.modalLogin form fieldset, .modalRegister form fieldset {
  border-radius: var(--border-radius);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  width: 100%;
  margin: 0 0 1rem 0;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalLogin form fieldset:hover, .modalLogin form fieldset:focus, .modalRegister form fieldset:hover, .modalRegister form fieldset:focus {
  filter: hue-rotate(20deg);
}
.modalLogin form fieldset legend, .modalRegister form fieldset legend {
  padding: 0 1rem 0.3rem 1rem;
}
.modalLogin form input, .modalRegister form input {
  width: 98%;
  padding: 0.6rem 0;
  border-radius: var(--border-radius);
  background: none;
  border: none;
  color: var(--white-color);
  font-size: var(--font-size-medium);
  outline: none;
}
.modalLogin form input:focus, .modalRegister form input:focus {
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: var(--light-color);
}
.modalLogin form #prevUserPhoto, .modalRegister form #prevUserPhoto {
  box-shadow: var(--shadow-short);
}
.modalLogin form .list, .modalRegister form .list {
  max-width: 80%;
  overflow: hidden;
  font-size: var(--font-size-small);
  color: var(--hight-color);
  padding: 0.3rem;
  border-radius: var(--border-radius);
}

.contentPrevPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.contentPrevPhoto img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
}

.filePhoto {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  display: none;
}

.forFile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5px;
  color: var(--primary-color);
  background: var(--primary-color);
  background: var(--light-color);
  border-radius: var(--border-radius);
  color: var(--white-color);
  border-radius: 50%;
  padding: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  box-shadow: var(--shadow-short);
}
.forFile:hover {
  filter: grayscale(20%);
}

.allModals {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -200%;
  width: 100%;
  height: 100vh;
  background: url("../img/background/background1.jpg");
  background-size: cover;
  z-index: 100;
  transition: 0.8s;
}
.allModals:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(20, 20, 20, 0.8);
}

.allModals2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -200%;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  transition: 0.8s;
}

.underTitle {
  width: 100%;
  padding: 0 0 1rem 0;
  text-align: center;
}

.socialLogin {
  background: none;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
}
.socialLogin:focus {
  border: 2px solid var(--light-color);
}

.google {
  color: var(--light-color);
}

.facebook {
  color: #06f;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home .wrapperTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home .wrapperTitle h2 {
  color: var(--white-color);
  font-size: var(--font-size-extraBig);
}
.home .cursor {
  animation: hide 1s infinite;
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.btn {
  outline: none;
  border-radius: var(--border-radius);
  padding: 0.8rem 1rem;
  font-size: var(--font-size-large);
  font-weight: bold;
  min-width: 100px;
  margin: 0.3rem;
  background: var(--primary-color);
  color: var(--white-color);
  border: 2px solid var(--primary-color);
  transition: 0.5s;
}
.btn:hover, .btn:focus {
  background: none;
  color: var(--primary-color);
}
.btn:focus {
  background: none;
  color: var(--light-color);
  border-color: var(--light-color);
}
.btn:active {
  transform: scale(0.9);
}

.closeBtn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  left: 1rem;
  top: 1rem;
  outline: none;
  background: none;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
  border: none;
  transition: 0.5s;
}
.closeBtn:hover, .closeBtn:focus {
  background: none;
  background: var(--primary-color);
  color: var(--white-color);
}
.closeBtn:active {
  transform: scale(0.9);
  color: var(--black-color);
}

.footer {
  position: fixed;
  width: 100%;
  bottom: -2.5rem;
  border-radius: 500% 500% 0 0;
  padding: 0.5rem 0 0 0;
  background: url("../img/background/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: 0.5s;
}
.footer .wrapperFooter {
  padding: 0.2rem 0 0.5rem 0;
  background: var(--white-color);
  background: var(--black-color);
  width: 100%;
  bottom: -2.7rem;
  border-radius: 500% 500% 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}
.footer .wrapperFooter .logoFooter {
  display: none;
  width: 2rem;
  height: 2rem;
  filter: hue-rotate(150deg);
}
.footer .wrapperFooter p {
  color: var(--primary-color);
  margin: auto;
}
.footer:hover {
  bottom: 0;
}
.footer:hover .logoFooter {
  display: inline-block;
}

.modalError, .modalChangePassword {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  max-width: 320px;
  padding: 1rem;
  border-radius: var(--border-radius);
  background: #f00;
  box-shadow: var(--shadow-short);
  transition: 1s;
  z-index: 1000;
}
.modalError p, .modalChangePassword p {
  color: #fff;
  font-size: var(--font-size-large);
  text-align: center;
  font-weight: bold;
}
.modalError img, .modalChangePassword img {
  filter: invert(100%);
  width: 3rem;
  height: 3rem;
  margin: 0 0 1rem 0;
}
.modalError .btn, .modalChangePassword .btn {
  background: none;
  color: #fff;
  border-color: #fff;
  margin: 1rem 0 0 0;
}
.modalError .btn:hover, .modalChangePassword .btn:hover {
  color: #f00;
  background: #fff;
}

.modalChangePassword {
  background: var(--black-color);
}
.modalChangePassword p {
  color: var(--primary-color);
}
.modalChangePassword img {
  filter: invert(100%);
  width: 3rem;
  height: 3rem;
  margin: 0 0 1rem 0;
}
.modalChangePassword fieldset {
  border-radius: var(--border-radius);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  width: 100%;
  margin: 0 0 1rem 0;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalChangePassword fieldset:hover, .modalChangePassword fieldset:focus {
  filter: hue-rotate(20deg);
}
.modalChangePassword fieldset legend {
  padding: 0 1rem 0.3rem 1rem;
}
.modalChangePassword input {
  width: 98%;
  padding: 0.6rem 0;
  border-radius: var(--border-radius);
  background: none;
  border: none;
  color: var(--white-color);
  font-size: var(--font-size-medium);
  outline: none;
}
.modalChangePassword input:focus {
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: var(--light-color);
}
.modalChangePassword button {
  outline: none;
  border-radius: var(--border-radius);
  padding: 0.8rem 1rem;
  font-size: var(--font-size-large);
  font-weight: bold;
  min-width: 100px;
  margin: 0.3rem;
  background: var(--primary-color);
  color: var(--white-color);
  border: 2px solid var(--primary-color);
}
.modalChangePassword button:hover, .modalChangePassword button:focus {
  background: none;
  color: var(--primary-color);
}
.modalChangePassword button:focus {
  background: none;
  color: var(--light-color);
  border-color: var(--light-color);
}
.modalChangePassword button:active {
  transform: scale(0.9);
}

.App {
  display: grid;
  grid-template-columns: 240px 1fr 250px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.5s;
  background: var(--black-color);
}
.App .AppItem {
  padding: 0.3rem;
  margin: 5rem 0.5rem 0.5rem 0.5rem;
  border-radius: var(--border-radius);
  overflow: auto;
  position: relative;
  transition: 1s;
}
.App .AppItem .toggleClose {
  display: none;
}
.App .asideMenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2.5rem 1fr;
  row-gap: 0.5rem;
  padding: 0 1rem 2rem 1rem;
}
.App .asideNotes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2.5rem 1fr;
  row-gap: 0.5rem;
  padding: 0 1rem 2rem 1rem;
  box-shadow: var(--shadow-short);
  background: var(--black-color);
}
.App .mainContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2.5rem 1fr;
  row-gap: 0.5rem;
  padding: 0 1rem 2rem 1rem;
  background: #ccc;
}
.App .newForHiddeShow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem;
}

.AppHideShow {
  grid-template-columns: 280px 1fr 80px;
}

.newItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3rem 0.3rem 0 0;
  padding: 0.2rem;
}
.newItem input {
  color: var(--primary-color);
  font-size: var(--font-size-large);
  padding: 0 0 0 0.2rem;
  background: none;
  outline: none;
  border: none;
}
.newItem ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}
.newItem ul li {
  list-style: none;
  display: inline-block;
  padding: 0 0.3rem;
  cursor: pointer;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 2rem;
  transition: 0.5s;
}
.newItem ul li i, .newItem ul li span {
  font-weight: 500;
  font-size: 2rem;
  transition: 0.5s;
}
.newItem ul li:hover {
  color: var(--light-color);
}
.newItem ul .toggleItems {
  display: none;
}
.newItem .divInputSearch {
  overflow: hidden;
  width: 320px;
}
.newItem .inputSearch {
  opacity: 0;
  width: 0%;
  padding: 0.4rem;
  border-radius: var(--border-radius);
  border: 2px solid var(--primary-color);
  color: var(--white-color);
  background: none;
  outline: none;
  transition: 0.5s;
}
.newItem .inputSearch:focus {
  background: var(--black-color);
  border-color: var(--light-color);
}
.newItem .openSearch {
  opacity: 1;
  width: 90%;
}

.wrapperCancel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  width: 100%;
}
.wrapperCancel .cancel {
  outline: none;
  border: none;
  background: #f00;
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: var(--border-radius);
  font-weight: bold;
}

.itemList {
  width: 100%;
  max-width: 100%;
}
.itemList li {
  list-style: none;
  width: 100%;
  overflow: hidden;
  margin: 0.2rem 0;
  background: none;
  color: var(--primary-color);
}
.itemList li input {
  background: none;
  color: var(--primary-color);
  border: none;
  outline: none;
  text-align: left;
  width: 90%;
  max-width: 100%;
  padding: 0.4rem 0.3rem;
  font-size: var(--font-size-medium);
  transition: 0.5s;
  font-weight: bold;
  border-radius: var(--border-radius);
}
.itemList li input:hover {
  background: var(--black-hover);
}
.itemList li .deleteAlert {
  color: #f00;
  border-left: 3px solid #f00;
  border-right: 3px solid #f00;
}
.itemList .classActive, .itemList:focus {
  background: linear-gradient(to right, #181818, #202020, #222, #252525);
  border-left: 2px solid var(--primary-color);
}

.userInformation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding: 2rem 1rem 1rem 1rem;
  transition: 1s;
  max-width: 400px;
  min-width: 280px;
  max-height: 80%;
  z-index: 500;
  justify-content: flex-start;
  overflow-x: auto;
}
@media (max-width: 850px) {
  .userInformation {
    width: 100%;
    max-width: 400px;
  }
}
.userInformation .MainUserProfile {
  width: 100%;
}
.userInformation .MainUserProfile .wrapperPhotoUser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.userInformation .MainUserProfile .wrapperPhotoUser img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.userInformation .MainUserProfile .wrapperPhotoUser p {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  font-size: var(--font-size-big);
  color: var(--primary-color);
}
.userInformation .editProfile {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--light-color);
  cursor: pointer;
}
.userInformation .UpdateUserProfile form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.userInformation .UpdateUserProfile form fieldset {
  border-radius: var(--border-radius);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  width: 100%;
  margin: 0 0 1rem 0;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userInformation .UpdateUserProfile form fieldset:hover, .userInformation .UpdateUserProfile form fieldset:focus {
  filter: hue-rotate(20deg);
}
.userInformation .UpdateUserProfile form fieldset legend {
  padding: 0 1rem 0.3rem 1rem;
}
.userInformation .UpdateUserProfile form input {
  width: 98%;
  padding: 0.6rem 0;
  border-radius: var(--border-radius);
  background: none;
  border: none;
  color: var(--white-color);
  font-size: var(--font-size-medium);
  outline: none;
}
.userInformation .UpdateUserProfile form input:focus {
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: var(--light-color);
}
.userInformation .UpdateUserProfile .photoUser {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.userInformation .UpdateUserProfile .photoUser img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
}
.userInformation .UpdateUserProfile .photoUser .wrapperSelectPhoto {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerAside {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerAside .contentHead {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.headerAside .contentHead p {
  color: var(--primary-color);
}
.headerAside .contentHead img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #000;
  margin-right: 0.3rem;
  object-fit: cover;
}

.asideItem {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 0.3rem 0;
  border-bottom: 1px solid #222;
}
.asideItem:hover {
  background: var(--black-hover);
}
.asideItem li {
  list-style: none;
}
.asideItem p, .asideItem li, .asideItem h6 {
  color: var(--primary-color);
  font-size: var(--font-size-medium);
  cursor: pointer;
}
.asideItem i {
  margin-right: 0.3rem;
  color: var(--primary-color);
}
.asideItem .asideItem1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: start;
}

.SelectInputColor {
  display: none;
}

.inputColor {
  display: block;
  border-radius: 50%;
}
.inputColor i {
  color: var(--hight-color);
}

.modalForShorcuts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding: 2rem 1rem 1rem 1rem;
  transition: 1s;
  max-width: 400px;
  min-width: 280px;
  max-height: 80%;
  z-index: 500;
  justify-content: flex-start;
  overflow-x: auto;
}
@media (max-width: 850px) {
  .modalForShorcuts {
    width: 100%;
    max-width: 400px;
  }
}
.modalForShorcuts ul {
  width: 100%;
}
.modalForShorcuts ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0.3rem 0;
  color: var(--primary-color);
  font-size: var(--font-size-large);
}
.modalForShorcuts ul li .shorcut {
  background: var(--white-color);
  background: #333;
  padding: 0.2rem;
  border-radius: var(--border-radius);
}

.dataFromDb {
  overflow: auto;
  padding: 0 1rem 0 0;
}

.wrapperData {
  padding: 0.2rem 0.2rem;
  border-radius: var(--border-radius);
  display: grid;
  grid-template-rows: 1.5rem 1fr 1rem;
  border-left: 3px solid var(--primary-color);
  border-radius: var(--border-radius);
  margin: 0.5rem 0;
}
.wrapperData .dataHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  transition: 0.5s;
}
.wrapperData .dataHeader h4 {
  font-size: var(--font-size-medium);
  color: var(--white-color);
  color: var(--primary-color);
}
.wrapperData .dataHeader ul {
  opacity: 0;
  padding: 0 0 0 1rem;
  transition: 0.5s;
}
.wrapperData .dataHeader ul li {
  display: inline-block;
  cursor: pointer;
}
.wrapperData .dataHeader ul li i {
  font-size: var(--font-size-large);
  color: var(--primary-color);
}
.wrapperData .dataHeader ul li .delete:hover {
  color: #f00;
}
.wrapperData .dataHeader ul li .edit:hover {
  color: var(--hight-color);
}
.wrapperData .dataHeader:hover ul {
  opacity: 1;
}
.wrapperData .wrapperCode {
  position: relative;
  padding: 0 0.2rem 0.2rem 0;
}
.wrapperData .wrapperCode .code {
  width: 95%;
  text-align: left;
  background: #181818;
  background: linear-gradient(to right, #171717, #191919, #212121);
  background: #232323;
  padding: 0.5rem;
  margin: 0.2rem 0;
  border-radius: 2px;
  color: var(--hight-color);
  font-size: var(--font-size-medium);
  border: none;
  outline: none;
}
.wrapperData .wrapperCode .copy {
  display: none;
  position: absolute;
  top: 0.7rem;
  right: 1.1rem;
  background: none;
  outline: none;
  border: none;
  color: var(--hight-color);
  transition: 0.5s;
}
.wrapperData .wrapperCode .copy i {
  font-size: var(--font-size-medium);
}
.wrapperData .wrapperCode .description {
  color: var(--white-color);
  color: var(--black-color);
  font-size: var(--font-size-medium);
  padding: 0.2em;
}
.wrapperData .details {
  font-size: var(--font-size-small);
  color: var(--primary-color);
  text-align: right;
}

.newDataModal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding: 2rem 1rem 1rem 1rem;
  transition: 1s;
  max-width: 400px;
  min-width: 280px;
  max-height: 80%;
  z-index: 500;
  justify-content: flex-start;
  overflow-x: auto;
}
@media (max-width: 850px) {
  .newDataModal {
    width: 100%;
    max-width: 400px;
  }
}
.newDataModal form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.newDataModal form h5 {
  color: var(--primary-color);
  font-size: var(--font-size-large);
  margin: 0 0 0.6rem 0;
}
.newDataModal form fieldset {
  border-radius: var(--border-radius);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  width: 100%;
  margin: 0 0 1rem 0;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newDataModal form fieldset:hover, .newDataModal form fieldset:focus {
  filter: hue-rotate(20deg);
}
.newDataModal form fieldset legend {
  padding: 0 1rem 0.3rem 1rem;
}
.newDataModal form .wrapperFieldset {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newDataModal form .wrapperFieldset i {
  position: absolute;
  right: 0;
  font-size: var(--font-size-big);
  display: block;
}
.newDataModal form .wrapperFieldset select {
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.newDataModal form .wrapperFieldset select option {
  background: var(--black-color);
  color: var(--white-color);
  box-shadow: var(--shadow-short);
}
.newDataModal form input, .newDataModal form textarea, .newDataModal form select {
  width: 98%;
  padding: 0.6rem 0;
  border-radius: var(--border-radius);
  background: none;
  border: none;
  color: var(--white-color);
  font-size: var(--font-size-medium);
  outline: none;
}
.newDataModal form input:focus, .newDataModal form textarea:focus, .newDataModal form select:focus {
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: var(--light-color);
}
.newDataModal form .textCode {
  color: var(--hight-color);
}
.newDataModal .wrapperTags {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.newDataModal .wrapperTags input {
  border: 1px solid var(--primary-color);
}
.newDataModal .wrapperTags button {
  background: none;
  outline: none;
  border: none;
}
.newDataModal .wrapperTags button i {
  color: var(--primary-color);
}
.newDataModal .insertTags {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.newDataModal .insertTags p {
  padding: 0.2rem;
  border-radius: var(--border-radius);
  color: var(--black-color);
  margin: 0.1rem;
  background: #fa0;
}

.editSteps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding: 2rem 1rem 1rem 1rem;
  transition: 1s;
  max-width: 400px;
  min-width: 280px;
  max-height: 80%;
  z-index: 500;
  justify-content: flex-start;
  overflow-x: auto;
}
@media (max-width: 850px) {
  .editSteps {
    width: 100%;
    max-width: 400px;
  }
}
.editSteps form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.editSteps form h5 {
  color: var(--primary-color);
  font-size: var(--font-size-large);
  margin: 0 0 0.6rem 0;
}
.editSteps form fieldset {
  border-radius: var(--border-radius);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  width: 100%;
  margin: 0 0 1rem 0;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editSteps form fieldset:hover, .editSteps form fieldset:focus {
  filter: hue-rotate(20deg);
}
.editSteps form fieldset legend {
  padding: 0 1rem 0.3rem 1rem;
}
.editSteps form input, .editSteps form textarea {
  width: 98%;
  padding: 0.6rem 0;
  border-radius: var(--border-radius);
  background: none;
  border: none;
  color: var(--white-color);
  font-size: var(--font-size-medium);
  outline: none;
}
.editSteps form input:focus, .editSteps form textarea:focus {
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: var(--light-color);
}

.SelectCollection {
  width: 100%;
  display: grid;
  grid-template-columns: 30px 1fr;
}
.SelectCollection label {
  color: var(--primary-color);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--black-color);
  background: rgba(20, 20, 20, 0.9);
}
.about .wrapperAbout {
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--gradient);
}
.about .wrapperAbout .itemDescription {
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.about .wrapperAbout .itemDescription h6 {
  font-size: var(--font-size-extraBig);
  line-height: 0.8;
  color: var(--white-color);
  padding: 1rem 0;
  font-weight: bold;
}
.about .wrapperAbout .itemDescription p {
  font-size: var(--font-size-large);
  color: var(--white-color);
  text-align: left;
  padding: 1rem 0;
}

@media (max-width: 850px) {
  .headerMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 1rem 0;
    position: fixed;
    left: 2%;
    right: 2%;
    top: 0;
    cursor: pointer;
  }
  .headerMain .logoTitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headerMain .logoTitle .logo {
    width: 3rem;
    height: 3rem;
    filter: hue-rotate(150deg);
  }
  .headerMain .logoTitle h1 {
    color: var(--primary-color);
    font-size: var(--font-size-big);
  }
  .headerMain .menu {
    color: var(--primary-color);
    font-size: 3rem;
  }

  .App {
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
  }
  .App .AppItem .toggleClose {
    display: block;
  }
  .App .asideMenu, .App .asideNotes {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 200;
    margin: auto;
    padding: 4rem 0 0 0;
    max-width: 400px;
    background: var(--black-color);
    box-shadow: var(--shadow-short);
  }
  .newItem h6 {
    max-width: 120px;
    overflow: hidden;
  }
  .newItem ul li i {
    font-size: 1.5rem;
  }
  .newItem ul .toggleItems {
    display: inline-block;
    display: block;
  }
  .newItem .divInputSearch {
    position: fixed;
    top: 7rem;
    right: 1%;
  }
  .newItem .inputSearch {
    background: var(--black-color);
  }

  .asideMenu {
    top: -100%;
  }

  .asideNotes {
    top: -100%;
  }

  .ShowHidde {
    display: none;
  }

  .headerAside {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headerAside .contentHead {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .headerAside .contentHead p {
    color: var(--primary-color);
  }
  .headerAside .contentHead img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: var(--shadow-short);
    margin-right: 0.3rem;
  }

  .itemList {
    padding: 1rem 0;
  }
  .itemList li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 80%;
    overflow: hidden;
    margin: auto;
    background: none;
    color: var(--primary-color);
  }
  .itemList li input {
    text-align: center;
    margin: auto;
    width: 80%;
    max-width: 100%;
  }
  .itemList li .deleteAlert {
    color: #f00;
    border-left: 3px solid #f00;
    border-right: 3px solid #f00;
  }
  .asideItem {
    justify-content: center;
    border-bottom: none;
    padding: 0.3rem 0;
  }
  .asideItem .asideItem1 {
    display: none;
  }

  .about .wrapperAbout .itemDescription {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }
  .about .wrapperAbout .itemDescription h6 {
    font-size: var(--font-size-extraBig);
    line-height: 0.8;
    color: var(--white-color);
    padding: 1rem 0;
    font-weight: bold;
    text-align: center;
  }
  .about .wrapperAbout .itemDescription p {
    font-size: var(--font-size-large);
    color: var(--white-color);
    text-align: center;
    padding: 1rem 0;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../img/background/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.dinamicJs {
  position: relative;
  transition: 1s;
}

.transtaleL {
  transform: translateX(-1000px);
}

.transtaleT {
  transform: translateY(-1000px);
}

.transtaleR {
  transform: translateX(1000px);
}

.top0 {
  top: 0;
}

.top5 {
  top: 5rem;
}

.Show {
  top: 0;
}

.errorAll {
  width: 100%;
  background: rgba(255, 0, 0, 0.4);
  color: #fff;
  font-size: var(--font-size-medium);
  text-align: center;
  border-radius: var(--border-radius);
}

.border-none {
  border: none;
}

.border-r {
  border-radius: var(--border-radius);
}

.bg-blue {
  background: #359;
}

.bg-redOrange {
  background: #d43;
}

.bg-black {
  background: #222;
}

.c-white {
  color: #fff;
}

.c-link {
  color: #07a;
}
.c-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pad-2 {
  padding: 0.2rem;
}

.f-z-m {
  font-size: var(--font-size-medium);
}

.f-z-s {
  font-size: var(--font-size-small);
}

.f-z-l {
  font-size: var(--font-size-large);
}

.width-100 {
  width: 100%;
}

.d-flex-c-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.d-flex-start {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.d-inline {
  display: inline-block;
}

.hide {
  display: none;
}

/*# sourceMappingURL=css.css.map */
