:root {
  --border-radius: .5rem;
  --primary-color: #05976c;
  --white-color: #aaa;
  --black-color: #272727;
  --hight-color: #00f0ea;
  --gradient:
        linear-gradient(150deg, rgba(0,0,0,.9), rgba(0,0,0,0) 70.71%),
        linear-gradient(330deg, rgba(5,151,108,.8), rgba(5,151,108,0) 70.71%),
        linear-gradient(200deg, rgba(255,255,255,.8), rgba(255,255,255,0) 70.71%);
  --shadow-short: 0rem .3rem .8rem #000;
  --font-size-extraBig: 5rem;
  --font-size-big: 3rem;
  --font-size-large: 1.2rem;
  --font-size-medium: 1rem;
  --font-size-small: .8rem;
}

@media (max-width: 750px) {
  :root {
    --font-size-extraBig: 3.5rem;
    --font-size-big: 3rem;
    --font-size-large: 1rem;
    --font-size-medium: .8rem;
    --font-size-small: .7rem;
  }
}

@media (max-width: 550px) {
  :root {
    --font-size-extraBig: 2.5rem;
    --font-size-big: 2rem;
  }
}

@media (max-width: 370px) {
  :root {
    --font-size-extraBig: 2rem;
    --font-size-big: 2rem;
    --font-size-large: 1rem;
    --font-size-medium: .7rem;
    --font-size-small: .6rem;
  }
}

@media (max-width: 300px) {
  :root {
    --font-size-extraBig: 1.4rem;
    --font-size-big: 1.4rem;
  }
}

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:active {
  background: var(--hight-color);
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

::-webkit-scrollbar-track:hover {
  background: #aaa;
}

::-webkit-scrollbar-corner {
  background: var(--primary-color);
  border-radius: 50%;
}

.main {
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.headerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 94%;
  margin: auto;
  padding: 1rem;
  position: fixed;
  left: 3%;
  right: 3%;
  top: 0;
  cursor: pointer;
  z-index: 5;
}

.headerMain .logoTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerMain .logoTitle .logo {
  width: 3rem;
  height: 3rem;
  -webkit-filter: hue-rotate(150deg);
          filter: hue-rotate(150deg);
}

.headerMain .logoTitle h1 {
  color: var(--primary-color);
  font-size: var(--font-size-big);
}

.headerMain .menu {
  color: var(--primary-color);
  font-size: 3rem;
}

.wrapperMenu {
  position: fixed;
  top: -200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #222;
  border-radius: var(--border-radius);
  padding: 3rem 1rem  1rem 1rem;
  -webkit-transition: 1s;
  transition: 1s;
  max-width: 400px;
  min-width: 280px;
  -webkit-box-shadow: var(--shadow-short);
          box-shadow: var(--shadow-short);
  z-index: 500;
  left: 10%;
  right: 10%;
  margin: auto;
  right: 3rem;
  z-index: 500;
}

@media (max-width: 850px) {
  .wrapperMenu {
    left: 1%;
    right: 1%;
    max-width: 400px;
  }
}

.wrapperMenu ul {
  width: 100%;
  padding: 0 0 2rem 0;
}

.wrapperMenu ul li {
  color: var(--primary-color);
  list-style: none;
  font-size: var(--font-size-large);
  padding: 1rem 0;
  border-bottom: 1px solid #222;
  border-bottom: 1px solid var(--primary-color);
  width: 100%;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.wrapperMenu ul li:hover {
  background: rgba(34, 34, 34, 0.5);
  border-bottom: 1px solid var(--white-color);
  color: var(--white-color);
}

.wrapperMenu ul li [data-descr] {
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.wrapperMenu ul li [data-descr]:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: 100%;
  top: 0;
  min-width: 120px;
  border-radius: var(--border-radius);
  background-color: var(--black-color);
  padding: .3rem;
  color: var(--white-color);
  font-size: var(--font-size-small);
  z-index: 1000;
  -webkit-box-shadow: 1px 1px 1px #101010;
          box-shadow: 1px 1px 1px #101010;
}

.wrapperMenu p {
  color: var(--primary-color);
  text-align: center;
  padding: .5rem 0;
  width: 100%;
  font-size: var(--font-size-medium);
  margin-bottom: .8rem;
}

.modalLogin, .modalRegister {
  position: fixed;
  top: -200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #222;
  border-radius: var(--border-radius);
  padding: 3rem 1rem  1rem 1rem;
  -webkit-transition: 1s;
  transition: 1s;
  max-width: 400px;
  min-width: 280px;
  -webkit-box-shadow: var(--shadow-short);
          box-shadow: var(--shadow-short);
  z-index: 500;
  left: 10%;
  right: 10%;
  margin: auto;
  left: 20%;
  right: 20%;
}

@media (max-width: 850px) {
  .modalLogin, .modalRegister {
    left: 1%;
    right: 1%;
    max-width: 400px;
  }
}

.modalLogin form, .modalRegister form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modalLogin form h3, .modalLogin form p, .modalRegister form h3, .modalRegister form p {
  color: var(--primary-color);
  text-align: center;
  padding: .5rem 0;
  width: 100%;
}

.modalLogin form h3, .modalRegister form h3 {
  font-size: var(--font-size-large);
}

.modalLogin form p, .modalRegister form p {
  font-size: var(--font-size-medium);
  margin-bottom: .8rem;
}

.modalLogin form fieldset, .modalRegister form fieldset {
  border-radius: var(--border-radius);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  width: 100%;
  margin: 0 0 1rem 0;
  -webkit-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalLogin form fieldset:hover, .modalLogin form fieldset:focus, .modalRegister form fieldset:hover, .modalRegister form fieldset:focus {
  -webkit-filter: hue-rotate(20deg);
          filter: hue-rotate(20deg);
}

.modalLogin form fieldset legend, .modalRegister form fieldset legend {
  padding: 0 1rem .3rem 1rem;
}

.modalLogin form input, .modalRegister form input {
  width: 98%;
  padding: .6rem 0;
  border-radius: var(--border-radius);
  background: none;
  border: none;
  color: var(--white-color);
  font-size: var(--font-size-medium);
  outline: none;
}

.modalLogin form input:focus, .modalRegister form input:focus {
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: var(--primary-color);
}

.modalLogin form #files, .modalRegister form #files {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.modalLogin form label, .modalRegister form label {
  color: var(--primary-color);
  background: var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--white-color);
  padding: .5rem;
  height: 20px;
  width: 60px;
  text-align: center;
}

.modalLogin form .list, .modalRegister form .list {
  max-width: 80%;
  overflow: hidden;
  font-size: var(--font-size-small);
  color: var(--hight-color);
  padding: .3rem;
  border-radius: var(--border-radius);
}

.home {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .wrapperTitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .wrapperTitle h2 {
  color: var(--white-color);
  font-size: var(--font-size-extraBig);
}

.home .cursor {
  -webkit-animation: hide 1s infinite;
          animation: hide 1s infinite;
}

@-webkit-keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.btn {
  outline: none;
  border-radius: var(--border-radius);
  padding: .8rem 1rem;
  font-size: var(--font-size-large);
  font-weight: bold;
  min-width: 100px;
  margin: .3rem;
  background: var(--primary-color);
  color: var(--white-color);
  border: 2px solid var(--primary-color);
  -webkit-transition: .5s;
  transition: .5s;
}

.btn:hover, .btn:focus {
  background: none;
  color: var(--primary-color);
}

.btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.closeBtn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 5px;
  outline: none;
  background: none;
  color: var(--primary-color);
  font-size: var(--font-size-large);
  font-weight: bold;
  border: 2px solid var(--primary-color);
  -webkit-transition: .5s;
  transition: .5s;
}

.closeBtn:hover, .closeBtn:focus {
  background: none;
  background: var(--primary-color);
  color: var(--white-color);
}

.closeBtn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.footer {
  position: fixed;
  width: 100%;
  bottom: -2.5rem;
  border-radius: 500% 500% 0 0;
  padding: .5rem 0 0 0;
  background: url("../img/background/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer .wrapperFooter {
  padding: .2rem 0 .5rem 0;
  background: var(--white-color);
  background: var(--black-color);
  width: 100%;
  bottom: -2.7rem;
  border-radius: 500% 500% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
}

.footer .wrapperFooter .logoFooter {
  display: none;
  width: 2rem;
  height: 2rem;
  -webkit-filter: hue-rotate(150deg);
          filter: hue-rotate(150deg);
}

.footer .wrapperFooter p {
  color: var(--primary-color);
  margin: auto;
}

.footer:hover {
  bottom: 0;
}

.footer:hover .logoFooter {
  display: inline-block;
}

.modalError {
  position: fixed;
  top: -200%;
  left: 1%;
  right: 1%;
  max-width: 270px;
  margin: auto;
  padding: 2rem 1.5rem;
  border-radius: var(--border-radius);
  background: #f00;
  background: rgba(255, 0, 0, 0.7);
  -webkit-box-shadow: var(--shadow-short);
          box-shadow: var(--shadow-short);
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 1000;
}

.modalError p {
  color: #fff;
  font-size: var(--font-size-large);
  text-align: center;
}

.modalError .closeBtn {
  top: -20%;
  left: 94%;
  border-color: #fff;
  background: #f00;
  color: #fff;
}

.modalError .closeBtn:hover {
  color: #f00;
  background: #fff;
}

.App {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px 1fr 250px;
      grid-template-columns: 240px 1fr 250px;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
  background: var(--black-color);
}

.App .AppItem {
  padding: .3rem;
  margin: 5rem .5rem .5rem .5rem;
  border-radius: var(--border-radius);
  overflow: auto;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.App .AppItem .toggleClose {
  display: none;
}

.App .asideMenu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 2.5rem 1fr;
      grid-template-rows: 2.5rem 1fr;
  row-gap: .5rem;
  padding: 0 1rem 2rem 1rem;
}

.App .asideNotes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 2.5rem 1fr;
      grid-template-rows: 2.5rem 1fr;
  row-gap: .5rem;
  padding: 0 1rem 2rem 1rem;
  -webkit-box-shadow: var(--shadow-short);
          box-shadow: var(--shadow-short);
  background: var(--black-color);
}

.App .mainContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 2.5rem 1fr;
      grid-template-rows: 2.5rem 1fr;
  row-gap: .5rem;
  padding: 0 1rem 2rem 1rem;
}

.App .newForHiddeShow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .3rem;
}

.AppHideShow {
  -ms-grid-columns: 280px 1fr 80px;
      grid-template-columns: 280px 1fr 80px;
}

.newItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .3rem .3rem 0 0;
  padding: .2rem;
}

.newItem h6 {
  color: var(--primary-color);
  font-size: var(--font-size-large);
  padding: 0 0 0 .2rem;
  max-width: 200px;
  overflow: hidden;
}

.newItem h6:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.newItem ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.newItem ul li {
  list-style: none;
  display: inline-block;
  padding: 0 .3rem;
  cursor: pointer;
  color: var(--primary-color);
}

.newItem ul li i, .newItem ul li span {
  font-weight: 500;
  font-size: 2rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.newItem ul li [data-descr] {
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
}

.newItem ul li [data-descr]:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: 100%;
  top: 0;
  min-width: 120px;
  border-radius: var(--border-radius);
  background-color: var(--black-color);
  padding: .3rem;
  color: var(--white-color);
  font-size: var(--font-size-small);
  z-index: 1000;
  -webkit-box-shadow: 1px 1px 1px #101010;
          box-shadow: 1px 1px 1px #101010;
}

.newItem ul li .newfile [data-descr] {
  right: 100%;
  top: 200%;
}

.newItem ul .toggleItems {
  display: none;
}

.newItem .divInputSearch {
  overflow: hidden;
  width: 320px;
}

.newItem .inputSearch {
  opacity: 0;
  width: 0%;
  padding: .4rem;
  border-radius: var(--border-radius);
  border: 2px solid var(--primary-color);
  color: var(--white-color);
  background: none;
  outline: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.newItem .inputSearch:focus {
  background: var(--black-color);
}

.newItem .openSearch {
  opacity: 1;
  width: 90%;
}

.newfile:hover {
  color: var(--hight-color);
}

.listFiles:hover {
  color: #f55;
}

.listNotes:hover {
  color: #f55;
}

.itemList {
  width: 100%;
  max-width: 100%;
}

.itemList li {
  list-style: none;
  width: 100%;
  overflow: hidden;
  margin: .2rem 0;
}

.itemList li input {
  background: none;
  border: none;
  outline: none;
  text-align: left;
  width: 90%;
  max-width: 100%;
  padding: .4rem .3rem;
  font-size: var(--font-size-medium);
  color: var(--primary-color);
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: bold;
  border-radius: var(--border-radius);
}

.itemList li input:hover, .itemList li input:focus {
  background: rgba(16, 16, 16, 0.5);
  color: var(--white-color);
}

.itemList li .deleteAlert {
  background: #f00;
  background: rgba(255, 0, 0, 0.5);
  color: #fff;
}

.itemList .classActive {
  background: rgba(16, 16, 16, 0.5);
}

.ShowHidde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: -8px;
  padding: .2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--black-color);
  color: var(--primary-color);
  outline: none;
  border: none;
  -webkit-box-shadow: var(--shadow-short);
          box-shadow: var(--shadow-short);
  font-size: 1rem;
  font-weight: bold;
}

.headerAside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.headerAside p {
  color: var(--primary-color);
}

.headerAside img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-box-shadow: var(--shadow-short);
          box-shadow: var(--shadow-short);
  margin-right: .3rem;
}

.userInformation {
  position: absolute;
  position: fixed;
  top: -200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #222;
  border-radius: var(--border-radius);
  padding: 3rem 1rem  1rem 1rem;
  -webkit-transition: 1s;
  transition: 1s;
  max-width: 400px;
  min-width: 280px;
  -webkit-box-shadow: var(--shadow-short);
          box-shadow: var(--shadow-short);
  z-index: 500;
  left: 10%;
  right: 10%;
  top: -200%;
  right: 1rem;
  margin: auto;
}

@media (max-width: 850px) {
  .userInformation {
    left: 1%;
    right: 1%;
    max-width: 400px;
  }
}

.userInformation form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.userInformation form fieldset {
  border-radius: var(--border-radius);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  width: 100%;
  margin: 0 0 1rem 0;
  -webkit-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userInformation form fieldset:hover, .userInformation form fieldset:focus {
  -webkit-filter: hue-rotate(20deg);
          filter: hue-rotate(20deg);
}

.userInformation form fieldset legend {
  padding: 0 1rem .3rem 1rem;
}

.userInformation form input {
  width: 98%;
  padding: .6rem 0;
  border-radius: var(--border-radius);
  background: none;
  border: none;
  color: var(--white-color);
  font-size: var(--font-size-medium);
  outline: none;
}

.userInformation form input:focus {
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: var(--primary-color);
}

.userInformation .photoUser {
  position: relative;
}

.userInformation .photoUser img {
  width: 8rem;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.userInformation .photoUser .wrapperSelectPhoto {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.asideItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: .3rem 0;
  border-bottom: 1px solid #222;
}

.asideItem li {
  list-style: none;
}

.asideItem p, .asideItem li, .asideItem h6 {
  color: var(--primary-color);
  font-size: var(--font-size-medium);
  cursor: pointer;
}

.asideItem i {
  margin-right: .3rem;
  color: var(--primary-color);
}

.asideItem .asideItem1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: start;
          flex-direction: start;
}

.SelectInputColor {
  display: none;
}

.inputColor {
  display: block;
  border-radius: 50%;
}

.inputColor i {
  color: var(--hight-color);
}

.modalForShorcuts {
  position: fixed;
  top: -200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #222;
  border-radius: var(--border-radius);
  padding: 3rem 1rem  1rem 1rem;
  -webkit-transition: 1s;
  transition: 1s;
  max-width: 400px;
  min-width: 280px;
  -webkit-box-shadow: var(--shadow-short);
          box-shadow: var(--shadow-short);
  z-index: 500;
  left: 10%;
  right: 10%;
  top: -200;
  margin: auto;
  overflow: auto;
}

@media (max-width: 850px) {
  .modalForShorcuts {
    left: 1%;
    right: 1%;
    max-width: 400px;
  }
}

.modalForShorcuts ul {
  width: 100%;
}

.modalForShorcuts ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  list-style: none;
  padding: .3rem 0;
}

.modalForShorcuts ul li .shorcut {
  background: var(--white-color);
  background: #333;
  padding: .2rem;
  border-radius: var(--border-radius);
}

.dataFromDb {
  overflow: auto;
  padding: 0 1rem 0 0;
}

.wrapperData {
  padding: .2rem .2rem;
  border-radius: var(--border-radius);
  background: #303030;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1.5rem 1fr 1rem;
      grid-template-rows: 1.5rem 1fr 1rem;
  border-left: 5px solid var(--primary-color);
  border-radius: var(--border-radius);
  margin: .5rem 0;
}

.wrapperData .dataHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.wrapperData .dataHeader h4 {
  font-size: var(--font-size-medium);
  color: var(--white-color);
  color: var(--primary-color);
}

.wrapperData .dataHeader ul {
  opacity: 0;
  padding: 0 0 0 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.wrapperData .dataHeader ul li {
  display: inline-block;
  cursor: pointer;
}

.wrapperData .dataHeader ul li i {
  font-size: var(--font-size-large);
  color: var(--primary-color);
}

.wrapperData .dataHeader ul li .delete:hover {
  color: #f00;
}

.wrapperData .dataHeader ul li .edit:hover {
  color: var(--hight-color);
}

.wrapperData .dataHeader:hover ul {
  opacity: 1;
}

.wrapperData .wrapperCode {
  position: relative;
  padding: 0 .2rem .2rem 0;
}

.wrapperData .wrapperCode .code {
  width: 95%;
  text-align: left;
  background: #181818;
  padding: .5rem;
  margin: .2rem 0;
  border-radius: var(--border-radius);
  color: var(--hight-color);
  font-size: var(--font-size-medium);
  border: none;
  outline: none;
}

.wrapperData .wrapperCode .copy {
  display: none;
  position: absolute;
  top: .7rem;
  right: 1.1rem;
  background: none;
  outline: none;
  border: none;
  color: var(--hight-color);
  -webkit-transition: .5s;
  transition: .5s;
}

.wrapperData .wrapperCode .copy i {
  font-size: var(--font-size-medium);
}

.wrapperData .wrapperCode .description {
  color: var(--white-color);
  padding: .2em;
}

.wrapperData .details {
  font-size: var(--font-size-small);
  color: var(--primary-color);
  text-align: right;
}

.newDataModal {
  position: fixed;
  top: -200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #222;
  border-radius: var(--border-radius);
  padding: 3rem 1rem  1rem 1rem;
  -webkit-transition: 1s;
  transition: 1s;
  max-width: 400px;
  min-width: 280px;
  -webkit-box-shadow: var(--shadow-short);
          box-shadow: var(--shadow-short);
  z-index: 500;
  left: 10%;
  right: 10%;
  top: -200;
  margin: auto;
  overflow: auto;
}

@media (max-width: 850px) {
  .newDataModal {
    left: 1%;
    right: 1%;
    max-width: 400px;
  }
}

.newDataModal form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newDataModal form h5 {
  color: var(--primary-color);
  font-size: var(--font-size-large);
  margin: 0 0 .6rem 0;
}

.newDataModal form fieldset {
  border-radius: var(--border-radius);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  width: 100%;
  margin: 0 0 1rem 0;
  -webkit-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newDataModal form fieldset:hover, .newDataModal form fieldset:focus {
  -webkit-filter: hue-rotate(20deg);
          filter: hue-rotate(20deg);
}

.newDataModal form fieldset legend {
  padding: 0 1rem .3rem 1rem;
}

.newDataModal form .wrapperFieldset {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newDataModal form .wrapperFieldset i {
  position: absolute;
  right: 0;
  font-size: var(--font-size-big);
  display: block;
}

.newDataModal form .wrapperFieldset select {
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.newDataModal form .wrapperFieldset select option {
  background: var(--black-color);
  color: var(--white-color);
  -webkit-box-shadow: var(--shadow-short);
          box-shadow: var(--shadow-short);
}

.newDataModal form input, .newDataModal form textarea, .newDataModal form select {
  width: 98%;
  padding: .6rem 0;
  border-radius: var(--border-radius);
  background: none;
  border: none;
  color: var(--white-color);
  font-size: var(--font-size-medium);
  outline: none;
}

.newDataModal form input:focus, .newDataModal form textarea:focus, .newDataModal form select:focus {
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: var(--primary-color);
}

.newDataModal form .textCode {
  color: var(--hight-color);
}

.newDataModal .wrapperTags {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newDataModal .wrapperTags input {
  border: 1px solid var(--primary-color);
}

.newDataModal .wrapperTags button {
  background: none;
  outline: none;
  border: none;
}

.newDataModal .wrapperTags button i {
  color: var(--primary-color);
}

.newDataModal .insertTags {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.newDataModal .insertTags p {
  padding: .2rem;
  border-radius: var(--border-radius);
  color: var(--black-color);
  margin: .1rem;
  background: #fa0;
}

.editSteps {
  position: fixed;
  top: -200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #222;
  border-radius: var(--border-radius);
  padding: 3rem 1rem  1rem 1rem;
  -webkit-transition: 1s;
  transition: 1s;
  max-width: 400px;
  min-width: 280px;
  -webkit-box-shadow: var(--shadow-short);
          box-shadow: var(--shadow-short);
  z-index: 500;
  left: 10%;
  right: 10%;
  top: -200;
  margin: auto;
  overflow: auto;
}

@media (max-width: 850px) {
  .editSteps {
    left: 1%;
    right: 1%;
    max-width: 400px;
  }
}

.editSteps form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editSteps form h5 {
  color: var(--primary-color);
  font-size: var(--font-size-large);
  margin: 0 0 .6rem 0;
}

.editSteps form fieldset {
  border-radius: var(--border-radius);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  width: 100%;
  margin: 0 0 1rem 0;
  -webkit-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editSteps form fieldset:hover, .editSteps form fieldset:focus {
  -webkit-filter: hue-rotate(20deg);
          filter: hue-rotate(20deg);
}

.editSteps form fieldset legend {
  padding: 0 1rem .3rem 1rem;
}

.editSteps form input, .editSteps form textarea {
  width: 98%;
  padding: .6rem 0;
  border-radius: var(--border-radius);
  background: none;
  border: none;
  color: var(--white-color);
  font-size: var(--font-size-medium);
  outline: none;
}

.editSteps form input:focus, .editSteps form textarea:focus {
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: var(--primary-color);
}

.SelectCollection {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 1fr;
      grid-template-columns: 30px 1fr;
}

.SelectCollection label {
  color: var(--primary-color);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: var(--black-color);
  background: rgba(20, 20, 20, 0.9);
}

.about .wrapperAbout {
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--gradient);
}

.about .wrapperAbout .itemDescription {
  width: 60%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about .wrapperAbout .itemDescription h6 {
  font-size: var(--font-size-extraBig);
  line-height: 0.8;
  color: var(--white-color);
  padding: 1rem 0;
  font-weight: bold;
}

.about .wrapperAbout .itemDescription p {
  font-size: var(--font-size-large);
  color: var(--white-color);
  text-align: left;
  padding: 1rem 0;
}

@media (max-width: 850px) {
  .headerMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: auto;
    padding: 1rem 0;
    position: fixed;
    left: 2%;
    right: 2%;
    top: 0;
    cursor: pointer;
  }
  .headerMain .logoTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerMain .logoTitle .logo {
    width: 3rem;
    height: 3rem;
    -webkit-filter: hue-rotate(150deg);
            filter: hue-rotate(150deg);
  }
  .headerMain .logoTitle h1 {
    color: var(--primary-color);
    font-size: var(--font-size-big);
  }
  .headerMain .menu {
    color: var(--primary-color);
    font-size: 3rem;
  }
  .App {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    width: 100%;
    height: 100%;
  }
  .App .AppItem .toggleClose {
    display: block;
  }
  .App .asideMenu, .App .asideNotes {
    position: fixed;
    left: 1%;
    right: 1%;
    z-index: 200;
    margin: auto;
    max-width: 400px;
    background: var(--black-color);
  }
  .App .asideNotes {
    padding: 1rem 0 0 0;
  }
  .newItem h6 {
    max-width: 120px;
    overflow: hidden;
  }
  .newItem ul li i {
    font-size: 1.5rem;
  }
  .newItem ul .toggleItems {
    display: inline-block;
    display: block;
  }
  .newItem .divInputSearch {
    position: fixed;
    top: 7rem;
    right: 1%;
  }
  .newItem .inputSearch {
    background: var(--black-color);
  }
  .asideMenu {
    top: -100%;
  }
  .asideNotes {
    top: -100%;
  }
  .ShowHidde {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../img/background/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.dinamicJs {
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.transtaleL {
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
}

.transtaleT {
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
}

.transtaleR {
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
}

.hide {
  display: none;
}

.top0 {
  top: 0;
}

.top5 {
  top: 5rem;
}

.errorAll {
  width: 100%;
  background: rgba(255, 0, 0, 0.4);
  color: #fff;
  font-size: var(--font-size-medium);
  text-align: center;
  border-radius: var(--border-radius);
}
/*# sourceMappingURL=css.css.map */