
.App {
    display: grid;
    grid-template-columns: 240px 1fr 250px;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .5s;
    background: var(--black-color);
    .AppItem {
        padding: .3rem;
        margin: 5rem .5rem .5rem .5rem;
        border-radius: var(--border-radius);
        overflow: auto;
        position: relative;
        transition: 1s;
        .toggleClose {
            display: none;
        }
    }
    .asideMenu{
        @include gridItem;
        // background: rgba(0, 0, 0, .5);
        // background: var(--black-color);
        // box-shadow: var(--shadow-short);  

    }
    .asideNotes{
        @include gridItem;
        box-shadow: var(--shadow-short);
        background: var(--black-color);

    }
    .mainContent{
        @include gridItem;
    }
    // for dinamic js
    .newForHiddeShow{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: .3rem;
        
    }
}
.AppHideShow {
    grid-template-columns: 280px 1fr 80px;
}
.newItem {
    @include flexBetween;
    // justify-content: flex-end;
    border-radius: .3rem .3rem 0 0;
    padding: .2rem;
    input {
        color: var(--primary-color);
        font-size: var(--font-size-large);
        padding: 0 0 0 .2rem;
        background: none;
        outline: none;
        border: none;
    }
    ul {
        height: 100%;
        @include flexcenter;
        justify-content: flex-end;
        li {
            list-style: none;
            display: inline-block;
            padding: 0 .3rem;
            cursor: pointer;
            color: var(--primary-color);
            font-weight: 500;
            font-size: 2rem;
            transition: .5s;
            i, span{
                font-weight: 500;
                font-size: 2rem;
                transition: .5s;
            }
            &:hover{
                color: var(--light-color);
            }
        }
        .toggleItems {
            display: none;
        }
    }
    
    i {
    }
    .divInputSearch {
        overflow: hidden;
        width: 320px;
    }
    .inputSearch {
        opacity: 0;
        width: 0%;
        padding: .4rem;
        border-radius: var(--border-radius);
        border: 2px solid var(--primary-color);
        color: var(--white-color);
        background: none;
        outline: none;
        transition: .5s;
        &:focus {
            background: var(--black-color);
            border-color: var(--light-color);
        }
    }
    .openSearch{
        opacity: 1;
        width: 90%;
    }
            
}
// .newfile:hover, .listFiles:hover, .listNotes:hover, .openSearch {color: var(--light-color)}

.wrapperCancel{
    @include flexcenter;
    position: absolute;
    top: 5px;
    width: 100%;
    .cancel {
        @include cancelBtn;
    }
}
.itemList {
    width: 100%;
    max-width: 100%;
    li {
        list-style: none;
        width: 100%;
        overflow: hidden;
        margin: .2rem 0;
        background: none;
        color: var(--primary-color);
        input {
            background: none;
            color: var(--primary-color);
            border: none;
            outline: none;
            text-align: left;
            width: 90%; 
            max-width: 100%;
            padding: .4rem .3rem;
            font-size: var(--font-size-medium);
            transition: .5s;
            font-weight: bold;
            border-radius: var(--border-radius);
            &:hover {
                background: var(--black-hover);
            }
        }
        .deleteAlert {
            color: #f00;  
            border-left: 3px solid #f00;
            border-right: 3px solid #f00;
        }
    }
    .classActive, &:focus {
        // background: rgba(#101010, .5);
        background: linear-gradient(to right, #181818, #202020, #222, #252525);
        border-left: 2px solid var(--primary-color);
    }
}

// aside notes

.userInformation {
    @include allModal;
    .MainUserProfile{
        width: 100%;        
        .wrapperPhotoUser{
            @include flexcenter;
            flex-direction: column;
            width: 100%;;
            position: relative;
            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
            }
            p{  
                width: 100%;
                text-align: center;
                padding: .5rem;
                font-size: var(--font-size-big);
                color: var(--primary-color);
            }    
        }

    }    
    .editProfile {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: var(--light-color);
        cursor: pointer;
    }     

    .UpdateUserProfile{
        form {
            @include flexcenter;
            flex-direction: column;
            width: 100%;
            fieldset {
                @include fieldsetAll;
            }
            input{
                @include inputFieldset; 
            }
        }
        .photoUser {
            position: relative;
            @include flexcenter;
            flex-direction: column;
            img{
                width: 8rem;
                height: 8rem;
                object-fit: cover;
                border-radius: 50%;
            }
            // label{
            //     position: absolute;
            //     bottom: 5px;
                
            // }
            .wrapperSelectPhoto {
                width: 100%;
                position: absolute;
                bottom: 1rem;
                color: var(--light-color);
                @include flexcenter;    
            }
    
        }
    }
}
.headerAside{
    @include flexcenter;
    .contentHead{
        @include flexcenter;
        justify-content: flex-start;
        cursor: pointer;
        p {
            color: var(--primary-color);
        }
        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            box-shadow: var(--shadow-short);
            margin-right: .3rem;
        }
    }
}
.asideItem {
    @include flexcenter;
    justify-content: flex-start;
    padding: .3rem 0;
    border-bottom: 1px solid #222;
    &:hover {
        background: var(--black-hover);
    }
    li{list-style: none;}
    p, li, h6, {
        color: var(--primary-color);
        font-size: var(--font-size-medium);
        cursor: pointer;
    }
    i {
        margin-right: .3rem;
        color: var(--primary-color);
    }
    .asideItem1 {
        @include flexcenter;
        flex-direction: start;
    }
}

.SelectInputColor{
    display: none;
}
.inputColor {
    display: block;
    border-radius: 50%;
    i{
        color: var(--hight-color);
    }
}
.modalForShorcuts {
    @include allModal;
    ul {
        width: 100%;
        li {
            @include flexBetween;
            width: 100%;
            list-style: none;
            padding: .3rem 0;
            color: var(--primary-color);
            font-size: var(--font-size-large);
            .shorcut{
                background: var(--white-color);
                background: #333;
                padding: .2rem;
                border-radius: var(--border-radius);
            }
        }
    }
}
@import 'componentData';