.dataFromDb {
    overflow: auto;
    padding: 0 1rem 0 0 ;
}
.wrapperData {
    padding: .2rem .2rem;
    border-radius: var(--border-radius);
    display: grid;
    grid-template-rows: 1.5rem 1fr 1rem;
    border-left: 3px solid var(--primary-color);
    border-radius: var(--border-radius);
    margin: .5rem 0;
    .dataHeader {
        @include flexBetween;
        padding: 0 1rem;
        transition: .5s;
        h4 {
            font-size: var(--font-size-medium);
            color: var(--white-color);
            color: var(--primary-color);
        }
        ul {
            opacity: 0;
            padding: 0 0 0 1rem;
            transition: .5s;
            li {
                display: inline-block;
                cursor: pointer;
                i {
                    font-size: var(--font-size-large);
                    color: var(--primary-color);
                }
                .delete:hover {color: #f00}
                .edit:hover {color: var(--hight-color);}
            }
        }
        &:hover ul{
            opacity: 1;
        }
    }
    .wrapperCode {
        position: relative;
        padding: 0 .2rem .2rem 0;
        .code {
            width: 95%;
            text-align: left;
            background: #181818;
            background: linear-gradient(to right, #171717, #191919, #212121);
            background: #232323;
            padding: .5rem;
            margin: .2rem 0;
            border-radius: 2px;
            color: var(--hight-color);
            font-size: var(--font-size-medium);
            border: none;
            outline: none;
        }  
        .copy {
            display: none;
            position: absolute;
            top: .7rem;
            right: 1.1rem;
            background: none;
            outline: none;
            border: none;
            color: var(--hight-color);
            transition: .5s;
            i {
                font-size: var(--font-size-medium);
            }
        }  
        .description {
            color: var(--white-color);
            color: var(--black-color);
            font-size: var(--font-size-medium);
            padding: .2em;
        }   
        // &:hover .copy{
        //     display: block;
        // } 
    }
    .details {
        font-size: var(--font-size-small);
        color: var(--primary-color);
        text-align: right;    
    }
}
// form new data
.newDataModal {
    @include allModal;
    form {
        width: 100%;
        @include flexcenter;
        flex-direction: column;
        h5 {
            color: var(--primary-color);
            font-size: var(--font-size-large);
            margin: 0 0 .6rem 0;
        }
        fieldset {
            @include fieldsetAll;
        }
        .wrapperFieldset{
            position: relative;
            width: 100%;
            @include flexBetween;
            i{
                position: absolute;
                right: 0;
                font-size: var(--font-size-big);
                display: block;
            }
            select {
                display: inline-block;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                option {
                    background: var(--black-color);
                    color: var(--white-color);
                    box-shadow: var(--shadow-short);
                }
            }
        }
        input, textarea, select  {
            @include inputFieldset;
        }
        .textCode {
            color: var(--hight-color);
        }
    }
    .wrapperTags{
        width: 100%;
        @include flexAround;
        input{
            border: 1px solid var(--primary-color);
        }
        button {
            background: none;
            outline: none;
            border: none;
            i {
                color: var(--primary-color);
            }
        }
    }
    .insertTags {
        width: 100%;
        @include flexcenter;
        flex-wrap: wrap;
        p {
            padding: .2rem;
            border-radius: var(--border-radius);
            color: var(--black-color);
            margin: .1rem;
            background: #fa0;
        }
    }

}
.editSteps{
    @include allModal;
    form {
        width: 100%;
        @include flexcenter;
        flex-direction: column;
        h5 {
            color: var(--primary-color);
            font-size: var(--font-size-large);
            margin: 0 0 .6rem 0;
        }
        fieldset {
            @include fieldsetAll;
        }
        input, textarea {
            @include inputFieldset;
        }
    }
}
.SelectCollection{
    width: 100%;
    display: grid;
    grid-template-columns: 30px 1fr;
    label {
        color: var(--primary-color);
    }
    
}
