
@media (max-width: 850px){
    .headerMain{
        @include flexBetween;
        width: 90%;
        margin:auto;
        padding: 1rem 0;
        position: fixed;
        left: 2%;
        right: 2%;
        top: 0;
        cursor: pointer;
        
        .logoTitle{
            @include flexcenter;
            .logo {
                width: 3rem;
                height: 3rem;
                filter: hue-rotate(150deg);
            }   
            h1{
                color:var(--primary-color);
                font-size: var(--font-size-big);
            }
        
        }
        .menu {
            color:var(--primary-color);
            font-size: 3rem;
        }
        
    }
    .App {
        grid-template-columns: 100%;
        width: 100%;
        height: 100%;
        .AppItem {
            .toggleClose {
                display: block;  
            }
        }
        .asideMenu, .asideNotes {
            position: fixed;
            left: 0;
            right: 0;
            z-index: 200;
            margin: auto;
            padding: 4rem 0 0 0;
            max-width: 400px;
            background: var(--black-color);
            box-shadow: var(--shadow-short);
        }
        .mainContent{
        }
    }.newItem {
        h6 {
            max-width: 120px;
            overflow: hidden;
        }
        ul {
            li {
                i {
                    font-size: 1.5rem;
                }
            }
            .toggleItems {
                display: inline-block;
                display: block;
            }
        }
        .divInputSearch{
            position: fixed;
            top: 7rem;
            right: 1%;
        }
        .inputSearch {
            background: var(--black-color);
        }
    }
    .asideMenu{
        top: -100%;  
    }
    .asideNotes{
        top: -100%;      
    }
    .modalLogin, .modalRegister, .wrapperMenu{

    }
    .ShowHidde{display: none}
    .headerAside{
        @include flexcenter;
        .contentHead{
            @include flexcenter;
            justify-content: center;
            p {
                color: var(--primary-color);
            }
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                box-shadow: var(--shadow-short);
                margin-right: .3rem;
            }
        }
    }
    .itemList {
        padding: 1rem 0;
        li {
            @include flexcenter;
            list-style: none;
            width: 80%;
            overflow: hidden;
            margin: auto;
            background: none;
            color: var(--primary-color);
            input {
                text-align: center;
                margin: auto;
                width: 80%; 
                max-width: 100%;
                &:hover {
                }
            }
            .deleteAlert {
                color: #f00;  
                border-left: 3px solid #f00;
                border-right: 3px solid #f00;
            }
        }
        .classActive, &:focus {
        }
    }
    .asideItem {
        justify-content: center;
        border-bottom: none;
        padding: .3rem 0;
        li{}
        p, li, h6, {
        }
        i {
        }
        .asideItem1 {
            display: none;
        }
    }
}
