
.App {
    display: grid;
    grid-template-columns: 240px 1fr 250px;
    width: 100%;
    height: 100%;
    z-index: -1;
    .AppItem {
        padding: .3rem;
        margin: 5rem .5rem .5rem .5rem;
        border-radius: var(--border-radius);
        overflow: auto;
        position: relative;
        transition: 1s;
        .toggleClose {
            display: none;
        }
    }
    .asideMenu{
        @include gridItem;
        background: rgba(0, 0, 0, .5);
        background: var(--black-color);
        box-shadow: var(--shadow-short);

    }
    .asideNotes{
        @include gridItem;

    }
    .mainContent{
        @include gridItem;
        // box-shadow: var(--shadow-short);
        // background: var(--black-color);
    }
}
.newItem {
    @include flexBetween;
    border-radius: .3rem .3rem 0 0;
    padding: .2rem;
    h6 {
        color: var(--primary-color);
        font-size: var(--font-size-large);
        padding: 0 0 0 .2rem;
        &:hover {
            transform: scale(1.1);
        }
    }
    ul {
        height: 100%;
        @include flexcenter;
        justify-content: flex-end;
        overflow: hidden;
        li {
            list-style: none;
            display: inline-block;
            padding: 0 .3rem;
            cursor: pointer;
            color: var(--primary-color);
            i {
                font-weight: 500;
                font-size: 2rem;
                transition: .5s;
            }
        }
        .toggleItems {
            display: none;
        }
    }
}
.headerAside{
    @include flexcenter;
    justify-content: flex-end;
    position: realtive;
    p {
        color: var(--primary-color);
    }
    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        box-shadow: var(--shadow-short);
        margin: .3rem;
    }
}
.userInformation {
    position: absolute;
    @include modalMenu;
    top: -200;
    right: 1rem;
    margin: auto;
    form {
        @include flexcenter;
        flex-direction: column;
        width: 100%;
        fieldset {
            @include fieldsetAll;
        }
        input{
            @include inputFieldset; 
        }
    }
    .photoUser {
        position: relative;
        img{
            width: 8rem;
            height: 8rem;
            object-fit: cover;
        }
        .wrapperSelectPhoto {
            width: 100%;
            position: absolute;
            bottom: 1rem;
            @include flexcenter;    
        }

    }
}
.newfile:hover {color: var(--hight-color)}
.listFiles:hover {color: #f55}
.listNotes:hover {color: #f55}

.SelectInputColor{
    display: none;
}
.inputColor {
    display: block;
    border-radius: 50%;
    i{
        color: var(--hight-color);
    }
}


.itemList {
    width: 100%;
    li {
        list-style: none;
        text-align: center;
        input {
            background: none;
            border: none;
            outline: none;
            width: 100%;
            padding: .4rem 0;
            font-size: var(--font-size-medium);
            color: var(--primary-color);
            transition: .5s;
            font-weight: bold;
            &:hover, &:focus {
                background: rgba(#101010, .5);
                color: var(--white-color);
            }
        }
    }
}

@import 'componentData';